<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>cr.ac.una.escinf.proyectoaerolinea.controller.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LugarServlet</servlet-name>
        <servlet-class>cr.ac.una.escinf.proyectoaerolinea.controller.LugarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RutaServlet</servlet-name>
        <servlet-class>cr.ac.una.escinf.proyectoaerolinea.controller.RutaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoAvionServlet</servlet-name>
        <servlet-class>cr.ac.una.escinf.proyectoaerolinea.controller.TipoAvionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvionServlet</servlet-name>
        <servlet-class>cr.ac.una.escinf.proyectoaerolinea.controller.AvionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HorarioServlet</servlet-name>
        <servlet-class>cr.ac.una.escinf.proyectoaerolinea.controller.HorarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VueloServlet</servlet-name>
        <servlet-class>cr.ac.una.escinf.proyectoaerolinea.controller.VueloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsientoServlet</servlet-name>
        <servlet-class>cr.ac.una.escinf.proyectoaerolinea.controller.AsientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TiqueteServlet</servlet-name>
        <servlet-class>cr.ac.una.escinf.proyectoaerolinea.controller.TiqueteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LugarServlet</servlet-name>
        <url-pattern>/LugarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RutaServlet</servlet-name>
        <url-pattern>/RutaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoAvionServlet</servlet-name>
        <url-pattern>/TipoAvionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvionServlet</servlet-name>
        <url-pattern>/AvionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HorarioServlet</servlet-name>
        <url-pattern>/HorarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VueloServlet</servlet-name>
        <url-pattern>/VueloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsientoServlet</servlet-name>
        <url-pattern>/AsientoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TiqueteServlet</servlet-name>
        <url-pattern>/TiqueteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
